<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Page</title>
        <link rel="stylesheet" href="" th:href="@{/styles.css}">
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

        <input id="close-menu" class="close-menu" type="checkbox" aria-label="Close menu" role="button">
        <label class="close-menu-label" for="close-menu" title="close menu"></label>
        <aside class="menu white-bg">
            <div class="main-content menu-content">
                <h1 onclick="getElementById('close-menu').checked=false">
                    <!--<a href="#">LOGO</a>--><img href="#" src="image/logo.png" alt="">
                </h1>
                <nav>
                    <ul onclick="getElementById('close-menu').checked=false">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li><a th:href="@{/news}">News</a></li>
                        <li><a th:href="@{/about}">About</a></li>
                        <li><a th:href="@{/registration}">Login</a></li>
                        <li><a th:if="${username}" th:text="${username}" th:href="@{/account}"></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        
    <div class="menu-spacing"></div>

	<div>Hello Admin, <span th:if="${username}" th:text="${username}" th:href="@{/user}"></span></div>
	<h2>Welcome, </h2>
	
	   <span sec:authorize="isAuthenticated">
   		<a th:href="@{/logout}">
   			Logout
   		</a>
</body>
</html>